<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Travelers Reassurance</h1>
	<p>
		A place to share your travel tips and photos.
	 </p>

	 <p>
	 	<%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	 </p>
	</div>
<% end %>
