		<div class="footer">
			<small>
				<p>Site developed with the help of <%= link_to "One Month Rails", "http://onemonthrails.com" %> by <%= link_to "Mattan Griffel", "http://mattangriffel.com"%> </p>

				<br>

				<p>
					Site is in progress! We're currently at 70%
				</p>
			</small>
		

			<div class="progress">
  				<div class="bar" style="width: 70%;"></div>
			</div>	

		</div>
